.side-wrapper
  .header
    %p.header__user-name Naga
    %ul.header__user-menu
      %li.edit
        =link_to "#" do
          = fa_icon("edit")
      %li.icon
        =link_to "#" do
          = fa_icon("cog")

  .group-list
    .group
      %h2.group__name sample-group
      %p.group__message Hello!

    .group
      %h2.group__name sample-group
      %p.group__message Hello!
      
    .group
      %h2.group__name sample-group
      %p.group__message Hello!